body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.card-header {
    color: white;
    font-size: 18px;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
}

.card-title {
    font-size: 16px;
}

.card-header-phase0 {
    background-color: #4F78A4;
}
.card-header-phase1 {
    background-color: #DF5B5D;
}

.card-header-phase2 {
    background-color: #9B7561;
}

.card-header-phase3 {
    background-color: #5B9F52;
}

.card-header-phase4 {
    background-color: #76B5B0;
}

.card-header-phase5 {
    background-color: #F08F3B;
}

.card-header-phase6 {
    background-color: #AD7AA0;
}

.cards {
    width: 40%;
}

.card {
    margin: 1.5rem;
}

button {
    margin-top: 1rem;
}

.completed {
    opacity: 0.3;
    background-color: rgb(185, 184, 184);
}

.completed-strikethrough {
    text-decoration: line-through;
}

footer {
   position: fixed; left:0; bottom:0; width: 100%; background-color: rgb(245, 245, 245); padding: 1rem; 
}

.skipped {
    display: none;
}

.container {
    width: 50%;
}

.card-body {
    padding: 3px;
}

#text {
    border-radius: 10;
    text-align: center;
}

ul {
    list-style-type:none;
}

.footer {
    margin-left: 7%;
    margin-right: 7%;
}

.header {
    align-items: left;
    margin-left: 2%;
}

h2 {
    text-align: center;
}

.faq-card-body {
    padding: 2%;
}

#list-header {
    margin-top: 25px;
}

.hover-info {
    cursor: pointer;
  }

  .hover-info p.info-box {
    /* display:; */
    opacity: 0;
    color: rgb(19, 19, 19);
  }
  
  .hover-info:hover p.info-box {
    opacity: 1;
    background-color: transparent;
    display: block;
  }

  .card-info {
    /* margin: 1.5rem; */
    position: absolute;
    /* top: 2px; */
    right: 30px;
    width: 85px;
    height: 125px;
    box-sizing: border-box;
    position: "right";
    background-color: transparent;
  }

  #HSA-info {
      top: 175px;
      width: 170px;
  }

  #stocks-info {
    top: 125px;
    width: 170px;
}