.card-header-phase0 {
    background-color: rgb(34, 36, 70);
}

.card-header-phase1 {
    background-color: rgb(233, 90, 80);
}

.card-header-phase2 {
    background-color: rgb(238, 218, 108);
}

.card-header-phase3 {
    background-color: rgb(81, 141, 121);
}

.card-header-phase4 {
    background-color: rgb(127, 193, 255);
}

.card-header-phase5 {
    background-color: rgb(45, 97, 209);
}

.card-header-phase6 {
    background-color: rgb(133, 82, 167);
}

/* TODO: make CSS prettier */
.completed {
    text-decoration: line-through;
    background-color: rgb(185, 184, 184);
}

footer {
   position: fixed; left:0; bottom:0; width: 100%; background-color: rgb(245, 245, 245); padding: 1rem; 
}


.skipped {
    display: none;
}